body {
  margin: 0%;
  background-color: #ffffff;
}

#root {
  width: 100%;
  height: 100%;
}

.sideroot {
  width: 50%;
  padding: 1em;
}

#l_root {
  background-color: #F7FBFC;
}

#r_root {
  background-color: #D6E6F2;
}

.vars_table {
  background-color: #769FCD;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 10pt;
  line-height: 1.1;
  overflow: auto;
}

.vars_cell {
  border: 1px solid black;
  padding: 5px;
}

.printed_output {
  font-weight: bold;
  font-size: 9pt;
}

.qform {
  width: 25em;
}

#addChButton,
#addRButton {
  width: 100%;
}

.q_name {
  width: 22em;
}

.q_id {
  width: 3em;
}

#logSection {
  width: 30em;
  height: 12em;
}

#log {
  background-color: #D6E6F2;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#log > p {
  margin: 0%;
}

.log_rn {
  color: red;
}

.log_swipl {
  color: grey;
}

#chListSection {
  width: 30em;
  height: 12em;
}

#chList {
  background-color: #D6E6F2;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#chlTable {
  background-color: #D6E6F2;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 10pt;
  line-height: 1.1;
  overflow: auto;
}

#chl_id {
  width: 3em;
}

#chl_name {
  width: 20em;
}

#chlTable th {
  background-color: #B9D7EA;
  border: 1px solid black;
  padding: 5px;
}
#chlTable td {
  background-color: #B9D7EA;
  border: 1px solid black;
}


#krlSection {
  width: 30em;
  height: 12em;
}

#krl {
  background-color: #D6E6F2;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#krlTable {
  background-color: #D6E6F2;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 10pt;
  line-height: 1.1;
  overflow: auto;
}

#krl_a,#krl_b {
  width: 15em;
}

#krl_R {
  width: 5em;
}

#krlTable th {
  background-color: #B9D7EA;
  border: 1px solid black;
  padding: 5px;
}
#krlTable td {
  background-color: #B9D7EA;
  border: 1px solid black;
}