body {
  margin: 0%;
  background-color: #ffffff;
}

.sidetd {
  width: 50%;
  padding: 1em;
}

#Lroot {
  background-color: #f7fbfc;
}

#Rroot {
  background-color: #d6e6f2;
}

.vars_table {
  background-color: #769fcd;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 10pt;
  line-height: 1.1;
  overflow: auto;
}

.vars_cell {
  border: 1px solid black;
  padding: 5px;
}

.printed_output {
  font-weight: bold;
  font-size: 9pt;
}

.qform {
  width: 25em;
}

#addChButton,
#addRButton {
  width: 100%;
}

#log {
  background-color: #d6e6f2;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#log > p {
  margin: 0%;
}

.log_rn {
  color: red;
}

.log_swipl {
  color: grey;
}

.oListContainer {
  background-color: #d6e6f2;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.outputTables {
  background-color: #d6e6f2;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 10pt;
  line-height: 1.1;
  overflow: auto;
}

.outputTables th {
  background-color: #b9d7ea;
  border: 1px solid black;
  padding: 5px;
}
.outputTables td {
  background-color: #b9d7ea;
  border: 1px solid black;
}

.q_name {
  width: 22em;
}

.q_id {
  width: 3em;
}

.outputSections {
  width: 30em;
  height: 12em;
}

#chl_id {
  width: 3em;
}

#chl_name {
  width: 20em;
}

#krl_a,
#krl_b {
  width: 15em;
}

#krl_R {
  width: 5em;
}
